@model IEnumerable<DAL.Models.Feature>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between">
    <a asp-controller="features" asp-action="Create" class="btn btn-lg btn-primary">Create New</a>
    <a asp-controller="dashboard" asp-action="index" class="btn btn-lg btn-light">Go Back</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning">Update</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-light">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
